// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper h1 {
  font-family: Dancing Script;
  font-weight: bolder;
  margin-top: 0px;
  font-size: 80px;
}

.wrapper {
  background-color: #fcfcfc;
}
